.button {
    background:none;
    border: none;
    padding: .3em .8em;
    font-size: 1em;
    color: #ffa260;
     
  }
.button:hover {

    transform: translateY(-0.24em);
    text-shadow: 2em 2em 2em -1em #abff5c;
    transition: text-shadow 0.25s, transform 0.25s;
  } 