<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt={{recipe.imagePath}} class="image-responsive" style="max-height: 20.5em; max-width: 24.5em; min-height: 20.5em; min-width: 24.5em;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div
        class="dropdown">
            <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add Ingredient to Shopping List</a></li>
                <li class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer;"><a >Edit Recipe</a></li>
                <li class="dropdown-item" style="cursor: pointer;" (click)="onDelete()"><a >Delete Recipe</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <ul class="list-group">
           <li class="list-group-item list-group-item-action list-group-item-primary"
           *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
       </ul>
    </div>
</div>



